@import '../../../styles/index.scss';

.horizontal-line {
  position: relative;
  width: 100%;
  height: 0;
  background-color: $black-color;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: inherit;
  }
}
