@import '../../../../styles/index.scss';

.contact-section {
  @include flex-between;
  flex-direction: column;
  gap: 2em;
  width: 100%;

  // Tablet Styles //
  @include respond-to(tablet) {
    flex-direction: row;
  }
}

.contact-block {
  @include flex-start;
  flex-direction: column;
  gap: 1.5em;
  width: 100%;

  // Tablet Styles //
  @include respond-to(tablet) {
    gap: 1.75em;
    width: unset;
  }
}

.contact-heading {
  @include typography-h4;
  padding: 0em 0.5em;
  background-color: $green-color;
  border-radius: 0.5em;
}

.contact-info {
  @include flex-start;
  flex-direction: column;
  gap: 1.25em;
}

.contact-info-text {
  @include typography-p;
  color: $white-color;
  font-weight: 300;
  white-space: unset;

  // Tablet Styles //
  @include respond-to(tablet) {
    white-space: pre-line;
  }
}
