@import '../../../../styles/index.scss';

.case-studies-block {
  margin-bottom: $block-bottom-spacing-mobile;

  // Tablet Styles //
  @include respond-to(tablet) {
    margin-bottom: $block-bottom-spacing-tablet;
  }

  // Desktop Styles //
  @include respond-to(desktop-s) {
    margin-bottom: $block-bottom-spacing-m;
  }
}
.cards {
  @include flex-center;
  flex-direction: column;
  background-color: $dark-color;
  border-radius: $container-border-raidus;
  padding: 4.5em 3.75em;

  // Tablet Styles //
  @include respond-to(tablet) {
    flex-direction: row;
  }
}

.vertical-line {
  width: 100%;
  height: 1px;
  margin: 2em 0em;
  border: $white-border;
  shape-rendering: crispEdges;
  stroke-linecap: round;

  // Tablet Styles //
  @include respond-to(tablet) {
    width: 1px;
    height: 186px;
    margin: 0em 2em;
  }
  // Desktop Styles //
  @include respond-to(desktop-s) {
    margin: 0em 4em;
  }
}
