@import '../../../../styles/index.scss';

.input-field {
  @include flex-start;
  flex-direction: column;
  gap: 0.25em;
  max-width: 556px;
  width: 100%;
}

.input-label {
  @include typography-p;
  font-size: 1em;
  line-height: $line-height;

  &.required::after {
    content: '*';
    color: $black-color;
  }
}

.input {
  @include typography-p;
  color: $black-color;
  width: 100%;
  padding: 1.125em 1.875em;
  background-color: $white-color;
  border: $dark-border;
  border-radius: $button-border-radius;
  transition: $fast-transition;

  &:focus {
    outline: $green-border;
  }

  &::placeholder {
    @include typography-p;
    color: $medium-grey-color;
    opacity: 1;
    transition: $fast-transition;
  }

  &:focus::placeholder {
    opacity: 0.5;
  }
}
