@import '../../../styles/index';

.navigation-bar {
  @include flex-between;
  position: sticky;
  width: 100%;
  gap: 2.5em;
  top: 0;
  padding: 0.5em 0em;
  background: $white-color;
  z-index: 100;
  transition: all 0.3s ease;

  &.scrolled {
    padding: 0.25em 0em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.media {
  @include flex-center;
}

.navigation-bar-logo {
  max-width: 180px;
  width: 100%;
  transition: $fast-transition;
  
  // Desktop Styles //
  @include respond-to(desktop-s) {
    max-width: 220px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.navigation-bar-nav {
  // Desktop Styles //
  @include flex-center;
  gap: 2.5em;
  height: 4em;
  transition: $fast-transition;

  // Tablet & Mobile-Large Styles | Burger-Menu BreakPoint //
  @media (max-width: 1050px) {
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    gap: 2em;
    top: 0;
    right: -100%;
    width: 300px;
    flex-shrink: 1;
    height: 100vh;
    padding: 5em 2em 2em;
    background: $white-color;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: right 0.3s ease-in-out;
  }

  &.nav-open {
    right: 0;

    // Mobile-Large Styles //
    @media (max-width: $bp-m-l) {
      width: 100vw;
      left: 0;
      animation: burger-menu-reveal 0.3s ease-in-out forwards;
    }
  }
}

@keyframes burger-menu-reveal {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.navbar-link {
  @include typography-h4;
  flex-shrink: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid $grey-color;
  transition: $fast-transition;

  // Burger-Menu BreakPoint //
  @include respond-to(1050px) {
    text-align: left;
    width: unset;
    padding: 0;
    border-bottom: unset;
  }

  &:hover {
    opacity: 0.7;
  }
}

.navigation-bar-button {
  @include flex-center;
  @include typography-h4;
  flex-shrink: 0;
  max-height: 4em;
  width: 100%;
  margin-top: 2em;
  padding: 1em 1.75em;
  background-color: transparent;
  border-radius: $button-border-radius;
  outline: $dark-border;
  border: none;
  transition: all 0.1s ease-in-out;

  // Burger-Menu BreakPoint //
  @include respond-to(1050px) {
    margin-top: 0;
    padding: 1em 2.25em;
    width: unset;
  }

  &:hover {
    color: $white-color;
    background-color: $dark-color;
    outline: $white-border;
  }
}

.burger {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30px;
  height: 21px;
  padding: 0;
  background: none;
  border: none;
  z-index: 1001;
  cursor: pointer;

  // Burger-Menu BreakPoint //
  @include respond-to(1050px) {
    display: none;
  }

  &.burger-open {
    .burger-icon-stick:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }
    .burger-icon-stick:nth-child(2) {
      opacity: 0;
    }
    .burger-icon-stick:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }
  }
}

.burger-icon-stick {
  display: block;
  height: 3px;
  width: 100%;
  background: $dark-color;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;

  // Burger-Menu BreakPoint //
  @include respond-to(1050px) {
    display: none;
  }
}
