@import '../../../../styles/index.scss';

.content {
  @include flex-between;
  flex-direction: column-reverse;
  text-align: center;
  width: 100%;
  gap: 2em;

  // Tablet Styles //
  @include respond-to(tablet) {
    flex-direction: row;
    text-align: left;
  }
}

.image {
  max-width: 500px;
  width: 100%;

  // Desktop Styles //
  @include respond-to(desktop-s) {
    max-width: 600px;
  }
}

.texts {
  @include flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.25em;

  // Tablet Styles //
  @include respond-to(tablet) {
    align-items: flex-start;
  }

  // Desktop Styles //
  @include respond-to(desktop-s) {
    gap: 2.25em;
  }
}

.title {
  @include typography-h1;
  max-width: 531px;
}

.description {
  @include typography-h4;
  max-width: 498px;
}

.consult-button {
  @include typography-h4;
  color: $white-color;
  max-height: 4em;
  width: 100%;
  padding: 1em 2.25em;
  background-color: $dark-color;
  border: none;
  border-radius: $button-border-radius;
  transition: $fast-transition;

  // Tablet Styles //
  @include respond-to(tablet) {
    width: auto;
  }

  &:hover {
    color: $dark-color;
    background-color: $white-color;
    outline: $dark-border;
  }
}
