@import '../../../../styles/index.scss';

.content {
  @include flex-center;
}

.logotypes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 2em;
  width: 100%;
  list-style-type: none;

  // Mobile-Large Styles //
  @include respond-to(mobile-l) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  // Tablet Styles //
  @include respond-to(tablet) {
    @include flex-between;
  }
}

.logo {
  filter: saturate(0);
  transition: $medium-transition;

  &:hover {
    filter: saturate(1);
  }
}

.media {
  @include flex-center;
}

.image {
  object-fit: contain;
  max-height: 48px;
  width: 100%;
}
