@import '../../../styles/index';

.contact-block {
  margin-bottom: $block-bottom-spacing-mobile;

  // Tablet Styles //
  @include respond-to(tablet) {
    margin-bottom: $block-bottom-spacing-tablet;
  }

  // Desktop Styles //
  @include respond-to(desktop-s) {
    margin-bottom: $block-bottom-spacing-m;
  }
}

.card {
  @include flex-center;
  gap: 1em;
  width: 100%;
  padding: 3em 2.5em 4em 2.5em;
  background-color: $grey-color;
  border-radius: $container-border-raidus;

  // Mobile-Large Styles //
  @include respond-to(mobile-l) {
    padding: 3.75em 3.5em 5em 3.5em;
  }

  // Tablet Styles //
  @include respond-to(tablet) {
    padding: 3.75em 0em 5em 6.25em;
    justify-content: space-between;
  }
}

.contact-form {
  @include flex-start;
  flex-direction: column;
  gap: 1.5em;
  max-width: 556px;
  width: 100%;

  // Mobile-Large Styles //
  @include respond-to(mobile-l) {
    gap: 2.5em;
  }
}

.fields {
  @include flex-center;
  flex-direction: column;
  gap: 1.5em;
  max-width: 556px;
  width: 100%;
}

.image {
  display: none;

  // Tablet Styles //  
  @include respond-to(tablet) {
    display: block;
  }
}
