@import '../src/styles/index.scss';

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0em 0.5em 0em 0.5em;

    // Mobile-Large Styles //
    @include respond-to(mobile-l) {
      padding: 0em 1em 0em 1em;
    }
    // Tablet Styles //
    @include respond-to(tablet) {
      padding: 2.5em 3em 0em 3em;
    }
    // Desktop-Small Styles //
    @include respond-to(desktop-s) {
      padding: 3.75em 6.25em 0em 6.25em;
    }
    // Desktop-Large Styles //
    @include respond-to(desktop-l) {
      width: 100vw;
    }
  }
}
